/* ----------------------------
simple reset
---------------------------- */

html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
	height:100%;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; font-weight: normal;}

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td
{
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

input, textarea, select
{
	font-size: 110%;
	line-height: 1.1;
}

abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}
img{
	border:none;
}
a{
	text-decoration:none;
}
/*end*/

/* Main site section */
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.eot');
	src: local('☺'), url('../fonts/BebasNeue.woff') format('woff'), url('../fonts/BebasNeue.ttf') format('truetype'), url('../fonts/BebasNeue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'opensans-bold';
	src: local('☺'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'opensans-reg';
	src: url('../fonts/opensans-regular.eot');
	src: local('☺'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
h2 {
    color: #424D55;
    font-family: 'BebasNeue';
    font-size: 20px;
}

h3{
  	color: #1C6388;
    float: left;
    font-family: 'BebasNeue';
    font-size: 20px;
    width:100%;
    margin-bottom: 0px;
}

p{
	color: #424D55;
    font-family: 'opensans-reg';
    font-size: 12px;
}
.left{
	padding-left:5px;
	width:49%;
}
.show_price{
	background-position: left center;
	background-size:contain;
}
.right{
	float:left;
}
.impWidth{
	width: 74%;
}
.services_full_quotes {
	color: #424D55;
    float: left;
    font-family: 'opensans-reg';
    font-size: 12px;
	width:100%;
}
.full_button {
    width: 159px;
	height: 53px;
}
.need_more_info textarea {
    width: 84%;
}

.get_onsight_app h5 {
    width: 100%;
	font-size: 12px;
	padding-top: 66px;
}
.thankIMG {
	width:24%;
}
.testimonials{
    width: 100% !important;
}
.improve_sales ul li {
    width: 25%;
	text-align:center;
}
.green_btn {
    min-width: 136px;
	margin-top: 1%;
}
.get_onsight_app ul li {
    width: 33.3%;
}
.product_cats ul li {
    width:425px;
}
table{
	width:300px;
}
table.table1{
	font-size: 14px;
    line-height: 1.1em;
    width:100%;
}
#listWidth{
	width:130%;
}
.improve_sales_features ul li {
    width: 50%;
    padding: 0px;
	text-align: center;
}
.need_more_info form input[type="text"] {
    width: 41.5%;
}
#container{
	width:100%;
}
#menu {
    display:block;
    padding-left: 1%;
    width: auto;
}

#menu ul {
    width: 100%;
	padding-left: 5px;
}
#menu ul li a {
    font-size: 127%;
    padding-right: 2%;
}
#wrapper {
    width: 100%;
	float:left;
}

.mid {
    width: 100%;
}

#cta {
	background-size:100% 207px;
	background-position:center top;
	padding-bottom:1px;
	height: 200px;
}

#download{
	padding-left:25px;
	padding-top:0;
}

#block {
	padding:0;
	width:33.33%;
}

#tablets {
	width:100%;
}

#mobile{
	margin-left:27% !important;
	margin-bottom:5px !important;
}
#cta ul li {
	padding-bottom:0 !important;
	padding-top:0 !important;
}

#blog p {
    float: left;
    height: auto;
    overflow: hidden;
    width: 50%;
}

#blog a{
	float: left;
    text-align: right;
    width: 95%;
}
#sub_content {
    width: 100%;
}
#sub_content textarea {
    width: 100%;
}
#sub_content input[type="text"] {
    width: 234px;
}
#social_contact {
    float: left;
    width: 140px;
}
#free_trial {
    padding-left: 1px;
	text-align:center;
}
#right {
    float: left;
    width: 100%;
}
#left {
    float: left;
    width: 100%;
}
#text {
    padding-left: 5px;
    padding-top: 0;
}
#logo_img{
	width: 75px;
	margin-left: 1px;
}
#logo_connect {
    margin-left: 0;
    width: 36px;
}
#logo_img_top {
    margin-left: 69px;
    width: 75px;
}
#logo_download_img {
    margin-left: 1px;
    width: 127px;
}
#features_img{
    margin-left: 102px;
    width: 75px;
}

#logo{
	display:block;
	width:20%;
}

.navbar {
    display: none !important;
    box-shadow: 0 1px 10px #777777;
}

#container {
    width: auto !important;
    overflow: hidden;
}

#slider_container{
	margin-top: 95px;
}

#blog ul li {
    padding-bottom: 10px;
	height:auto;
}

#blog h4 {
    width: 50%;
}

.sidetag {
 	display: none;
}

#content h1 {
    display: block;
    float: left;
	margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
	background-size: 207px 2px;
}
.testimonials {
    background-size: 100% auto;
}
#testimonials_scroller {
    margin-top: 0;
}
.slider-wrapper-app {
    height: none;
    overflow: hidden;
}

.product_cats ul {
    width: 50%;
}
#breadcrumbs ul {
    margin-left: 5px;
}

#logo{
    margin-left: 5px;
}

.services_full {
    padding-left: 5px;
    width: 99%;
}

#footer_left {
    float: left;
    width: 100%;
}

#footer_menu {
    width: 80%;
}

#social {
    margin-left: 0;
}

#copy {
    width: 100%;
}

#copy p {
    margin-left: 0;
    text-align: center;
    width: 100%;
}
/*added*/
.fitfeat{
	width:100%;
}
.fit{
	width:100%;
}
.mobile_com_ul li {
    margin-right: 2%;
	width:25%;
	padding: 0;
}
.pad_left{
	padding-left:5px;
}
.goth {
    width: 100%;
}
.improve_sales img {
    margin-left: 0%;
}
.product_cats ul li img {
    padding-right: 0;
    padding-top: 0;
}
.no_pad{
	padding:0;
}
.steps{
	width:100%;
}
.centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.improve_sales_features img {
    padding-left: 0;
}
.get_onsight_app_downloads ul li {
    text-align: center;
    width: 33%;
}
.width_tab{
	width:100% !important;
}
.width_50{
	width:50% !important;
}
.width_25{
	width:25%;
}
.width_trial{
	width:100%;
}
.blue_three_steps {
	text-align:center;
	width: 610px !important;
}
.show_price select {
    width: 28%;
}
#about_cta {
    height: auto;
}
.www{
	background-size:contain;
}
#logo h1 a {
    background-size: contain;
	width:100%;
}
#menu ul li {
    padding: 0;
}
footer{
	text-align: center;
	height:auto;
}
#footer_logo h1 a{
	background-position: center;
	width: 100%;
}
.right_60 {
    float: left;
}
.product_cats {
    background-size: auto 40%;
}
.product_cats h2 {
    padding-bottom: 10px;
    padding-top: 15px;
}
.display_none1{
	display:none;
}
.center_align{
	text-align:center;
}
#footer_menu{
	display: none;
}
#content button {
    margin: 0 auto 5px;
}
.improve_sales p {
    text-align: center;
    width: 100%;
	padding-left: 0;
}
.merch_audit {
    background-size: contain;
    height: auto;
}
.width_37 {
	width:37%;
}
.mobile_thumbs {
	background-size:contain;
}
.mobile_star{
	background-size:contain;
}
.mobile_calc {
	background-size:contain;
}
.mobile_com_ul {
    margin-left: 10%;
}
.mobile_com_ul h5 {
    margin-top: 28%;
}
.mobile_com_ul p {
	font-size: 89%;
    height: 22%;
    margin-left: 3%;
    width: 93%;
}
.mobile_com_ul a {
    font-size: 100%;
}
#sub_content h2{
	font-size:20px;
}
.margin_right_110 {
    margin-right: 5%;
	margin-top:32px;
}
.texth2p{
    padding-top: 32px;
}
.marg_top{
	margin-top:85px;
}
.test_ipad{
	width:95% !important;
}
.sign_up_free{
    float: left;
    width: 511px;
}
.content_margin {
    margin-left: 0px !important;
}
.txt_right_106 {
    margin-right: 83px;
}
.p_height{
	height:156px;
}
.slick-slider {
    margin-bottom: 30px;
	margin-left:0;
}
.quotes {
	background-position: 46px 46px;
}
.padding_left_135 {
    padding-left: 135px;
}
.slick-slider {
    margin-left: 0;
}
#testimonials_box{
	margin-left:1%;
}
#sign_up_box{
	margin-left:1%;
}
.slides_content h2 {
    font-size: 162%;
	margin-bottom:1%;
}
.slides_content p {
    font-size: 90%;
}
.slides_link {
    padding: 4%;
    width: 62%;
	font-size:90%;
}
.article p {
    padding-left: 135px;
    width: 100%;
}
.slick-prev:before, .slick-next:before {
    color: #808080;
    margin-left: 3px;
}
.product_cats p {
    width: 88%;
}
.logo_dash{
	width:30% !important;
}
.table2 tbody th {
    width: 23%;
}
table.table2{
	width:100%;
}
.circlemargin{
	width:23%;
}
.mid-white img {
    margin-left: 5%;
    margin-top: 15px;
}