/* ----------------------------
simple reset
---------------------------- */

html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
	height:100%;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; font-weight: normal;}

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td{
	font-size: 11px;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

input, textarea, select
{
	font-size: 110%;
	line-height: 1.1;
}

abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}
img{
	border:none;
}
a{
	text-decoration:none;
}
/*end*/

/* Main site section */
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.eot');
	src: local('☺'), url('../fonts/BebasNeue.woff') format('woff'), url('../fonts/BebasNeue.ttf') format('truetype'), url('../fonts/BebasNeue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'opensans-bold';
	src: local('☺'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'opensans-reg';
	src: url('../fonts/opensans-regular.eot');
	src: local('☺'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'pathway-gothic-one';
  font-style: normal;
  font-weight: 400;
  src: local('Pathway Gothic One'), local('PathwayGothicOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/pathwaygothicone/v2/Lqv9ztoTUV8Q0FmQZzPqaBfSZ9PF2sGs8WIylam6T2Y.woff) format('woff');
}

h2 {
    color: #424D55;
    font-family: 'BebasNeue';
    font-size: 20px;
}

h3{
  	color: #1C6388;
    float: left;
    font-family: 'BebasNeue';
    font-size: 20px;
    width:100%;
    margin-bottom: 0px;
}

p{
	color: #424D55;
    font-family: 'opensans-reg';
    font-size: 12px;
}

header{
	height:131px;
	width:100%;
	top:0px;
	left:0px;
	box-shadow: 0px 1px 3px #777;
	position: fixed;  
	background-color: #fff;
}

#logo{
	width:192px;
	height:61px;
	float:left;
	padding-top: 30px;
}

#logo h1{

}

#logo h1 a{
	text-indent: 9999px;
	overflow: hidden;
	background-image: url('../images/logo.jpg');
	background-repeat: no-repeat;
	width:192px;
	height:61px;
	display: block;
}

#menu{
	display:none;
}

#slider{
	margin-top: 98px;
	width:100%;
	height:auto;
	overflow:hidden;
	box-shadow: 0px 1px 10px #777;
}

#slider img{
	width:100%;
	height:50% !important;
	margin-top: 33px;
}

#breadcrumbs{
	width:100%;
	height:69px;
	margin-top: 55px;
	overflow:hidden;
	background-image: url("../images/ux/breadcrumbs_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
	background-size: 100% 100%;
}

#breadcrumbs ul{
	width:100%;
	margin:0 auto;
	height:69px;
}
#play_vid{
	float: none;
    width: 35%;
	display:none;
}
#breadcrumbs ul li{
	float:left;
	line-height: 75px;
	font-family: 'BebasNeue';
	font-size: 23px;
	padding-right: 5px;
	padding-left:10px;
}
.right_auto_width {
	float:none;
}
.right_60 {
    float: none;
    width: 44%;
}
#logo_download_img {
    margin-left: 1px;
    width: 127px;
}
#client_img {
    margin-left: 1px;
    width: 26%;
}
#wrapper{
    float: left;
    margin: 50px auto;
    width: 100%;
}

#content{
	float: left;
    height: auto;
    width: 100%;
}

#content h1{
    background-image: url("../images/ux/big_trim.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #6B737A;
    font-family: 'BebasNeue';
    font-size: 31px;
    width: 100%;
	margin: 0 auto;
}
#block{
	float: left;
    height: auto;
    padding: 15px;
    width: 100%;
}

#block img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.pad-top {
    padding-top: 2px;
}
.center{
	text-align: left;
}

#content h2{
	font-family: 'BebasNeue';
    font-size: 20px;
    margin:0 auto;
    width:100%;
    background-image: url('../images/ux/med_trim.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: center;
    color:#6b737a;
    padding-bottom: 5px;
}


#content p{
	font-family: 'opensans-reg';
    font-size: 13px;
    margin:0 auto;
    width:75%;
    text-align: center;
    color:#666666;
    padding-top: 5px;
    padding-bottom: 5px;
}

#content button{
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    color: #000000;
    display: block;
    font-family: 'opensans-reg';
    height: 26px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 108px;
	margin-bottom:5px;
}


.orange_btn{
	background-color: #ff5c00 !important;
	border-radius: 3px;
	color:#fff !important;
	cursor:pointer;
}

.orange_btn a{	
	color:#fff !important;
	display:block;
}

.orange_btn:hover{	
	background-color: #f05701 !important;
}

.blue_btn{
	background-color: #1c6389 !important;
	border-radius: 3px;
	color:#fff !important;
	cursor:pointer;
}

.blue_btn a{	
	color:#fff !important;
	display:block;
}

.blue_btn:hover{	
	background-color: #1a5a7c !important;
}

#cta{
	width:100%;
	height:218px;
	overflow:hidden;
	background-image: none;
}

.mid{
	width:100%;
	margin: 0 auto;
}
.dwbar{
	width:100%;
	height: 136px;
	overflow:hidden;
	background-image: url('../images/download_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.no_padding{
	margin-bottom: 0px !important;
	margin-left:0%;
}
#download{
	padding-top: 0px;
	padding-left: 10px;
}

#cta ul{
    height:auto;
    width:100%;
    margin-top: 10px;
    float: left;
}

#cta ul li{
  	width:50%;
}

#blog{
	height:auto;
	float: left;
	padding-left:10px;
}

#blog h3{
	background-image: url("../images/ux/left_trim.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #7B8388;
	float:left;
    font-family: 'BebasNeue';
    font-size: 30px;
    margin: 0 auto;
    padding-bottom: 0;
    text-align: left;
    width: 100%;
}

#blog h4{
    color: #424d55;
    font-family: 'pathway-gothic-one';
	display:block;
    font-size: 20px;
    text-align: left;
    float:left;
	width:100%;
	padding-top: 5px;
	padding-left: 0px;
}

#blog p{
	font-family: 'opensans-reg';
    font-size: 13px;
    margin:0 auto;
    width:95%;
    text-align: left;
    color:#666666;
    padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 0px;
    float:left;
    display: block;
}

#blog a{
	font-family: 'opensans-reg';
    font-size: 13px;
    float:left;
    color:#014188;
    text-transform: uppercase;
	text-align: right;
	width:95%;
}

#blog img{
    float:left;
	display: block;
    width: 95%;
}

#blog ul{
	height:auto;
	margin-top: 20px;
}

#blog ul li{
    display: block;
    height: auto;
    padding-bottom: 20px;
}

footer{
	width:100%;
	height:130px;
	background-color: #2c2c2c;
	overflow:hidden;
	margin-top: 0px;
	float: left;
}

#footer_menu{
	width:730px;
	padding-top: 35px;
}

#footer_menu ul{
    border-right: 1px solid #565656;
    float: left;
	clear:left;
    margin-right: 35px;
    width: 15%;
    height: 100%;
}

#footer_menu ul ul{
	width:100%;
	float:none;
}

#footer_menu ul li{
	height:auto;
	width:100%;
}

#footer_menu ul li a{
	color:#fff;
	height:auto;
	width:100%;
	display:block;
	text-transform: uppercase;
	font-family: 'opensans-reg';
}

#footer_menu ul ul li a{
	color:#fff;
	height:auto;
	width:100%;
	text-transform: none;
	font-family: 'opensans-reg';
	font-size: 12px;
	display:inline;
}

#footer_left{
	float: left;
    width: 100%;
}

#footer_logo{
    width: 100%;
}

#footer_logo h1{
	text-align: center;
	width: 100%;
}


#footer_logo h1 a{
	text-indent: 9999px;
	overflow: hidden;
	background-image: url('../images/logo_white.png');
	background-repeat: no-repeat;
	width:100%;
	height:65;
	display: block;
	text-align: center;
	background-position: center;
}

#footer_logo img{
 	display: block;
    margin-left: auto;
    margin-right: auto
}

#social{
    width: 100%;
    margin-left: 0px !important;
    text-align: center;
}

#social a{
	
	width: 27px;
	height: 28px;
}

#social img{
    margin-left: auto;
    margin-right: auto
}

#copy{
    width: 100%;
    text-align: center;
}

#copy p{
	color:#fff;
	font-family: 'opensans-reg';
	font-size: 10px;
	margin-left: 0px;
}

.breadcrumb-blue{
	color:#1c6386;
}

#sub_content{
	width:100%;
	margin: 0 auto;
	margin-bottom: 30px;
	float:left;
}

#sub_content h2{
	font-family: 'BebasNeue';
	font-size: 20px;
	color:#424d55;
}

#left{
	float:left;
	width:70%;
}

#left p{
    color: #424D55;
    font-family: 'opensans-reg';
    font-size: 14px;
    line-height: 22px;
}
#right{
	float:right;
	width:30%;
}
#logo_img{
	width: 75px;
	margin-left: 1px;
}
form{
	width:100%;
	height:auto;
	float: none;
}

form span{
	float:left;
	width:100%;
	padding-bottom: 5px;
	padding-top: 5px;
}


#sub_content label{
    color: #1C6388;
    float: left;
    font-family: 'pathway-gothic-one';
    font-size: 15px;
    padding-right: 8px;
    width: 25%;
}

#sub_content input[type="text"]{
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    width: 70%;
}

#sub_content textarea{
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    font-size: 12px;
    height: 136px;
    padding: 5px;
    width: 95%;
}

.right{
	float:right;
	width:50%;
}
.left{
	float:left;
	width:41%;
}
.noFloat{
	float: none;
    width: 100%;
}
.green_btn{
	width:145px;
	height:42px;
	background-color: #9cbe15;
	border:none;
	border-radius: 5px;
	color:#fff;
	font-size: 12px;
	font-family: 'opensans-reg';
	cursor:pointer;
	margin-top: 1%;
}

.green_btn:hover{
	background-color: #90af14;
}

.txt_right{
	text-align: right;
	margin-right: 16px;
}

#social_contact{
	width:140px;
	float:right;
}

#social_contact img{
	width:34px;
	height:35px;
}

#right h3{
	color: #1C6388;
    float: left;
    font-family: 'pathway-gothic-one';
    font-size: 20px;
    width:100%;
    margin-bottom: 0px;
}

#right p{
	color: #000;
    float: left;
    font-family: 'opensans-reg';
    font-size: 12px;
    width:100%;
}

.about{
	margin-bottom: 0 !important;
}
.about_left{
	width:50% !important;
}
.about_right{
	width:50% !important;
}
#about_cta {
    background-color: #ECECEC;
    border-top: 1px inset #D8D8D8;
    float: left;
    height: 38%;
    width: 100%;
}
#about_cta h3 {
    width: 20%;
}
#about_cta p{
    color: #424D55;
    float: none;
    font-family: 'BebasNeue';
    font-size: 14pt;
    width: 24%;
}
#text{
    float: left;
    padding-left: 0px;
	padding-top: 1px;
	padding-bottom: 2px;
}

#a_cta_right{
	float:left;
	width:35%;
	padding-top: 45px;
}

.green_btn a{
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'opensans-reg';
    font-size: 12px;
    text-transform: uppercase;
}
.firstSec{
	color: #424D55;
    float: left;
    font-family: 'opensans-reg';
    font-size: 12px;
    width: 42%;
	padding-left: 0;
	margin-top: -4%;
}
.services_full{
	color: #424D55;
    float: left;
    font-family: 'opensans-reg';
    font-size: 12px;
    width: 100%;
}
#middle_grey {
    float: none;
    height: 31%;
}
#light_grey{
	width:100%;
	background-color: #f9f9f9;
	height:226px;
	float:left;
	border-top:1px inset #d8d8d8;
	height:auto;
}
.testimonials{
	display:none;
}
.improve_sales{
	width:100%;
	margin: 0 auto;
    margin-right: 10% !important;
    padding-bottom: 10%;
}
.improve_sales ul li {
    padding: 5px;
	width: 100%;
	float:none;
	text-align:center;
}
.product_cats{
	background-position: right bottom;
	background-size: 30% 20%;
	padding-left:5px;
}
.product_cats ul li {
    float: none;
    padding-bottom: 10%;
    padding-left: 5px;
    width: 360px;
}
.get_onsight_app ul li {
    float: none;
	margin-left: 5px;
	text-align:center;
	width:100%;
	padding-bottom: 5px;
}
#plats_img {
    margin-left: 1px;
    width: 35%;
	margin-left: 36%;
}
.product_cats h4 {
    width: 100%;
}
.improve_sales ul{
	margin-left: 5px;
}
#quotes {
    margin: 0;
    width: 160%;
}
.center_full {
    margin-left: 12%;
}
.improve_sales h4 {
    font-family: 'BebasNeue';
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
}
.impWidth{
    float: none;
	padding-top: 238px !important;
	width: 35% !important;
}
#testimonials_scroller {
    margin-top: 0;
}
#imageWidth {
    border: medium none;
    width: 75%;
}
#circlesWidth {
    border: medium none;
    width: 43%;
}
#middle_blue {
    margin-top: 3%;
}
.steps {
    float: none;
    margin-left: 0;
    width: 98%;
}
.secWidth{
	width: 35% !important;
}
.mid-white img{
	margin-left: 25%;
	margin-top: 15px;
}
.pad-top {
	padding-top:0px;
}
.pad-app {
	padding-top: 148px;
	width: 35%;
}

.pad-left{
	padding-left:40px;
}

#logo{
	display:none;
}

.navbar {
    display: block !important;
    box-shadow: 0 1px 10px #777777;
}

header{
	height:0px !important;
}

#slider{
	display:none;
}

#slider_container{
	margin-top: 50px;
}

#container {
    width: auto  !important;
}

.container-fluid {
    padding-bottom: 5px;
}

#footer_menu{
	display: none;
}

.sidetag {
 	display: none;
}
/*added*/
.width_100{
	width:100% !important;
}
.display_none{
	display:none;
}
.logo_info{
	width:100%;
}
.padding_left_135 {
    padding-left: 5px;
}
#dark_grey_full p {
    padding-left: 5px;
    width: 100%;
}
#dark_grey_full {
    height: auto;
}
.product_cats ul {
    width: 100%;
}
.improve_sales_features ul li {
    float: left;
    height: auto;
    width: 100%;
	text-align:center;
}
.dashboard_ul {
    margin-left: 0px;
    width: 100%;
}
.dashboard_ul li {
    width: 100% !important;
}
.logo_img{
	width:75%;
}
.mobile{
	margin-top:20px !important;
}
.logo_img_top{
	width:20%;
}
.improve_sales p {
    padding-left: 5px;
    width: 100%;
}
.auto_margin{
	margin:auto !important;
}
.get_onsight_app_downloads ul li {
    float: none;
    width: 100%;
	text-align: center;
}
.ben_width li {
    width: 100% !important;
}
.ben_width{
	width:75%;
}
.merch_width li {
    width: 75% !important;
}
#about_cta h3 {
    width: 100%;
}
#about_cta p {
    width: 100%;
}
.www{
	background-image:none;
	height: 106px;
}
.pad_left{
	padding-left:5px !important;
}
.need_more_info{
	padding-left:25%;
}
.merch_audit {
    background-image: none;
    height: auto;
}
.centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.goth{
	margin-top:0px;
}
.improve_sales img {
    margin-left: 0;
    text-align: center;
}
.padme{
	padding:5px;
}
.width_25{
	width:25%;
}
.improve_sales_features img {
    padding-left: 0;
}
.blue_three_steps {
    width: 100% !important;
}
.mobile_com_ul {
    margin-left: 0;
}
.width_75 {
    width: 100%;
}
.full_blue_btn{
	margin-left:0%;
}
.center_mob{
	text-align:center;
}
.show_price {
    display: none;
}
.sign_up{
	width:85%;
	padding-left:1%;
	float:left;
}
.marg_top {
    margin-top: 85px;
}
.test_ipad{
	width:95% !important;
}
#sign_up_inner {
    margin-top: 63px;
    padding: 20px;
}
#sign_up_inner p{
	font-size:65%;
}
.infoblock{
	padding-left: 2%;
}
.content_margin {
    margin-left: 0px !important;
}
#middle_grey {
    background-color: #FFFFFF;
}
.get_onsight_app {
    background-image: none;
}
.get_onsight_app_downloads {
    background-image: none;
}
.fitfeat {
    padding-left: 26%;
	width:75%;
}
.improve_sales h4 {
    text-align: center;
}
.improve_sales h2 {
    text-align: center;
}
.slider-wrapper{
	display:none;
}
.what_we_do {
    padding-left: 20%;
    width: 75%;
}
.logo_dash {
    width: 30% !important;
}
.improve_sales_features img {
    width: 30%;
}
.pad-align {
    padding-top: 0;
}
.pad_top {
    padding-top: 0;
}
.padsystemleft{
	padding-left: 5px;
}