/* ----------------------------
simple reset
---------------------------- */

html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
	height:100%;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; font-weight: normal;}

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td
{
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

input, textarea, select
{
	font-size: 110%;
	line-height: 1.1;
}

abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}
img{
	border:none;
}
a{
	text-decoration:none;
}
/*end*/

/* Main site section */
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.eot');
	src: local('☺'), url('../fonts/BebasNeue.woff') format('woff'), url('../fonts/BebasNeue.ttf') format('truetype'), url('../fonts/BebasNeue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'opensans-bold';
	src: local('☺'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'opensans-reg';
	src: url('../fonts/opensans-regular.eot');
	src: local('☺'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'pathway-gothic-one';
  font-style: normal;
  font-weight: 400;
  src: local('Pathway Gothic One'), local('PathwayGothicOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/pathwaygothicone/v2/Lqv9ztoTUV8Q0FmQZzPqaBfSZ9PF2sGs8WIylam6T2Y.woff) format('woff');
}


h2 {
    color: #424D55;
    font-family: 'pathway-gothic-one';
    font-size: 28px;
}

h3{
  	color: #1C6388;
    float: left;
    font-family: 'BebasNeue';
    font-size: 20px;
    width:100%;
    margin-bottom: 0px;
}

p{
	color: #424D55;
    font-family: 'opensans-reg';
    font-size: 13px;
}

body {
    color: #424D55;
    font-family: 'opensans-reg';
    font-size: 12px;
    line-height: 1.42857;
}

.goth{
    color: #424D55;
    font-family: 'pathway-gothic-one';
    font-size: 28px;
    margin-top: 70px;
    width: 400px;
}

header{
	height:120px;
	width:100%;
	top:0px;
	left:0px;
	box-shadow: 0px 1px 3px #777;
	position: fixed;  
	background-color: #fff;
	z-index: 1000
}

#container{
	width:970px;
	margin: 0 auto;
}

#logo{
	width:192px;
	height:61px;
	float:left;
	padding-top: 10px;
}

#logo h1{

}

#logo h1 a{
	text-indent: 9999px;
	overflow: hidden;
	background-image: url('../images/logo.jpg');
	background-repeat: no-repeat;
	width:192px;
	height:61px;
	display: block;
}

#menu{
	height:98px;
	width:auto;
	float:left;
	padding-left: 0;
}

#menu ul{
	height:90px;
	width:778px;
	padding-left:40px;
}

#menu ul li{
	float:left;
	line-height: 140px;
	padding: 0 5px;
	background-color: transparent;
}

#menu ul li a{
    display: block;
    height: 90px;
    padding: 5px;
    color:#000;
    text-transform: uppercase;
    font-family: 'pathway-gothic-one';
    font-size: 20px;
    text-decoration: none;
}
#menu ul li:hover a{
	background-color: #c3ddea;
	transition: background-color 0.3s linear;
}

#menu ul li:hover ul{
	display:block;
}

#menu ul ul{
    background-color: #c3ddea;
    height: auto;
    position: absolute;
    top: 90px;
    max-width: 157.5px;
    z-index: 2000;
    display:none;
    padding-bottom: 5px;
    padding-top: 5px;
	padding-left: 0px;
}


#menu ul ul li{
	clear:both;
	padding:15px 15px 15px 16px;;
	width:100%;
	border-bottom: 1px solid #afc6d2;
}

#menu ul ul li:last-child{
	border-bottom: none;
}

#menu ul ul li:hover{
	background-color: #438ec6;
}

#menu ul ul li a{
	padding-top: 0px;
	width: 123%;
	line-height: 0px;
	text-align: left;
	margin-left: -16px;
	height:auto;
	padding-right: 0px;
	background-color: transparent;
	font-family: 'opensans-reg';
	font-size: 12px;
}

#menu ul ul li:hover a{
	background-color: transparent;
	transition: none;
	color:#fff !important;
}

.current{
	background-color: #c3ddea;
}

#slider_container{
	margin-top: 98px;
	overflow:hidden;
	box-shadow: 0px 1px 10px #777;
	height: auto !important;
}
#slider_container img{
  	height : 100%;
}

#breadcrumbs{
    background-image: url("../images/ux/breadcrumbs_bg.jpg");
    background-position: center center;
    background-size: 100% 70%;
    height: 69px;
    margin-top: 122px;
    overflow: hidden;
    width: 100%;
}

#breadcrumbs ul{
	width:970px;
	margin:0 auto;
	height:69px;
}

#breadcrumbs ul li{
	float:left;
	line-height: 75px;
	font-family: 'pathway-gothic-one';
	font-size: 30px;
	text-transform: uppercase;
	padding-right: 5px;
	
}

#wrapper{
	width:918px;
	margin:0 auto;
	margin-top: 50px;
}

#full_white{
	float: left;
	width:100%;
	margin:0 auto;
}

#content{
	width:100%;
	height:auto;
}

#content h1{
    background-image: url("../images/ux/big_trim.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #6B737A;
    font-family: 'BebasNeue';
    font-size: 31px;
    margin: 0 330px auto;
    text-align: center;
    width: 25%;
}

#block{
	width:293px;
	height:500px;
	float:left;
	padding-top: 15px;
}

#content h2{
	font-family: 'BebasNeue';
    font-size: 20px;
    margin:0 auto;
    width:100%;
    background-image: url('../images/ux/med_trim.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: center;
    color:#6b737a;
    padding-bottom: 5px;
}


#content p{
	font-family: 'opensans-reg';
    font-size: 13px;
    margin:0 auto;
    width:75%;
    text-align: center;
    color:#666666;
    padding-top: 5px;
    padding-bottom: 5px;
}

#content button{
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    color: #000000;
    display: block;
    font-family: 'opensans-reg';
    height: 26px;
    margin: 3px 3px 3px 33%;
    text-align: center;
    text-transform: uppercase;
    width: 108px;
}

.orange_btn{
	background-color: #ff5c00 !important;
	border-radius: 3px;
	color:#fff !important;
	cursor:pointer;
}

.orange_btn a{	
	color:#fff !important;
	display:block;
}

.orange_btn:hover{	
	background-color: #f05701 !important;
}

.blue_btn{
	background-color: #1c6389 !important;
	border-radius: 3px;
	color:#fff !important;
	cursor:pointer;
}

.blue_btn a{	
	color:#fff !important;
	display:block;
}

.blue_btn:hover{	
	background-color: #1a5a7c !important;
}

#cta{
	width:100%;
	height:389px;
	overflow:hidden;
	background-image: url('../images/download_bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}

.mid{
	width:970px;
	margin: 0 auto;
}

#download{
	padding-top: 35px;
	padding-left: 50px;
}

#cta h3{
    background-image: url("../images/ux/left_trim.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #7B8388;
    font-family: 'BebasNeue';
    font-size: 30px;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: left;
    width: 100%;
}

#cta ul{
    height:auto;
    width:33%;
    margin-top: 5px;
}

#cta ul li{
  	padding-top:5px;
  	padding-bottom:5px;
    height:auto;
   	border-bottom: 1px solid #d8d8da;
}

#blog{
	height:460px;
}

#blog h3{
	background-image: url("../images/ux/left_trim.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #7B8388;
    font-family: 'BebasNeue';
    font-size: 30px;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: left;
    width: 100%;
}

#blog h4{
    color: #424d55;
    font-family: 'BebasNeue';
    font-size: 20px;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: left;
    float:left;
    padding-left: 28px;
    padding-bottom: 10px;
}

#blog p{
	font-family: 'opensans-reg';
    font-size: 13px;
    margin:0 auto;
    width:70%;
    text-align: left;
    color:#666666;
    padding-top: 5px;
    padding-bottom: 5px;
    float:left;
    padding-left: 28px;
}

#blog a{
	font-family: 'opensans-reg';
    font-size: 13px;
    float:right;
    color:#014188;
    text-transform: uppercase;
}

#blog img{
    float:left;
}

#blog ul{
	height:auto;
	margin-top: 23px;
	float: left;
}

#blog ul li{
    display: block;
    float: left;
    height: 130px;
}

footer{
	width:100%;
	height:225px;
	background-color: #2c2c2c;
	overflow:hidden;
	margin-top: 30px;
}

#footer_menu{
	width:760px;
	padding-top: 35px;
}

#footer_menu ul{
    border-right: 1px solid #565656;
    float: left;
    margin-right: 18px;
    width: 23%;
}

#footer_menu ul ul{
	width:100%;
	float:left;
	border-right: none !important;
}

.last_ul{
    border-right: medium none !important;
    display: block;
    margin-right: 0 !important;
    margin-top: -50px;
}

.last_ul li a{
	font-size: 12px !important;
	font-weight:normal !important;
}

.last_ul li a:hover{
	text-decoration: underline;
}

#footer_menu ul li{
	height:auto;
	width:100%;
}

#footer_menu ul li a{
    color: #FFFFFF;
    display: block;
    font-family: 'opensans-reg';
    font-size: 12px;
    font-weight: bold;
    height: auto;
    text-transform: uppercase;
    width: 100%;
}

#footer_menu ul ul li a{
	color:#fff;
	height:auto;
	width:100%;
	display:block;
	text-transform: none;
	font-family: 'opensans-reg';
	font-size: 12px;
	font-weight:normal;
}

#footer_menu ul ul li a:hover{
	text-decoration: underline;
}

#footer_left{
	float: left;
    width: 210px;
}

#footer_logo{
	height: 66px;
    padding: 1px;
}

#footer_logo h1 a{
	text-indent: 9999px;
	overflow: hidden;
	background-image: url('../images/logo_white.png');
	background-repeat: no-repeat;
	width:192px;
	height:61px;
	display: block;
}

#social{
	padding-top: 15px;
	margin-left: 40px;
}

#copy p{
	color:#fff;
	font-family: 'opensans-reg';
	font-size: 10px;
	margin-left: 49px;
}

.breadcrumb-blue{
	color:#1c6386;
}

#sub_content{
	width:970px;
	margin: 0 auto;
	float:left;
}

#sub_content h2{
	font-family: 'pathway-gothic-one';
	font-size: 28px;
	color:#424d55;
}

#left{
	float:left;
	width:70%;
}

#left p{
    color: #424D55;
    font-family: 'opensans-reg';
    font-size: 13px;
    line-height: 22px;
}

#right{
	float:right;
	width:30%;
}

form{
	width:100%;
	height:auto;
	float: left;
}

form span{
	float:left;
	width:100%;
	padding-bottom: 5px;
	padding-top: 5px;
}


#sub_content label{
    color: #1C6388;
    float: left;
    font-family: 'pathway-gothic-one';
    font-size: 17px;
    padding-right: 8px;
    width: 28%;
	font-weight: normal;
}

#sub_content input[type="text"]{
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    width: 230px;
}

#sub_content textarea{
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    font-size: 12px;
    height: 147px;
    padding: 5px;
    width: 95%;
}

.right{
	float:right;
	width:50%;
	padding-bottom:10px;
}

.left{
	float:left;
	width:50%;
}

.green_btn{
	min-width:145px;
	height:42px;
	background-color: #9cbe15;
	border:none;
	border-radius: 5px;
	color:#fff;
	font-size: 12px;
	font-family: 'opensans-reg';
	cursor:pointer;
}

.green_btn:hover{
	background-color: #90af14;
}

.txt_right{
	text-align: right;
	margin-right: 16px;
}

#social_contact{
	width:123px;
	float:right;
	margin-bottom: 20px;
	margin-top: 20px;
}

#social_contact img{
	width:34px;
	height:35px;
}

#right h3{
	color: #1C6388;
    float: left;
    font-family: 'pathway-gothic-one';
    font-size: 20px;
    width:100%;
    margin-bottom: 0px;
}

#right p{
	color: #000;
    float: left;
    font-family: 'opensans-reg';
    font-size: 12px;
    width:100%;
}

.about{
	margin-bottom: 0 !important;
}

.about_left{
	width:50% !important;
}

.about_right{
	width:50% !important;
}

#about_cta{
	width:100%;
	height:117px;
	background-color: #ececec;
	float:left;
	border-top:1px inset #d8d8d8;
}

#about_cta h3{
    color: #424D55;
    display: inline;
    float: left;
    font-family: 'BebasNeue';
    font-size: 30pt;
    margin-bottom: 0;
    width: 600px;
}

#about_cta p{
    color: #424D55;
    float: left;
    font-family: 'BebasNeue';
    font-size: 14pt;
    width: 100%;
}

#text{
    float: left;
    padding-left: 70px;
    padding-top: 30px;
    width:100%;
}

#a_cta_right{
	float:left;
	width:35%;
	padding-top: 45px;
}

.green_btn a{
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'opensans-reg';
    font-size: 8.9pt;
    text-transform: uppercase;
}

.services_full{
	color: #424D55;
    float: left;
    font-family: 'opensans-reg';
    font-size: 12px;
    width: 100%;
}

.full{
	color: #424D55;
    float: left;
    font-family: 'opensans-reg';
    font-size: 12px;
    width: 100%;
}

#middle_grey{
	width:100%;
	background-color: #ebebeb;
	height:auto;
	float:left;
	border-top:1px inset #d8d8d8;
}

#middle_blue{
	width:100%;
	background-color: #5d6d7f;
	height:auto;
	float:left;
	border-top:1px inset #d8d8d8;
}

#light_grey{
	width:100%;
	background-color: #f9f9f9;
	height:226px;
	float:left;
	border-top:1px inset #d8d8d8;
	height:auto;
}

.mid-white img{
	margin-left: 25%;
	margin-top: 15px;
}

.pad-top {
	padding-top:40px;
}

.pad-left{
	padding-left:40px;
}

.full_button{
	width:auto;
	max-width: 190px;
	min-width: 0;
}

.not_found_p{

}

.not_found_p span{
	margin-top: 10px;
	float:left;
	margin-left: 10px;
}

.not_found_p a{
	line-height: 20px;
}

.no_padding{
	margin-bottom: 0px !important;
}

#free_trial{
	
}

#free_trial input[type="text"]{
	border:none;
	border:1px solid #c7c7c7;
	border-radius: 5px;
	padding:5px;
}

.center{
	text-align: center;
}

.padding_bottom_10{
	padding-bottom: 10px;
}

.padding_bottom_20{
	padding-bottom: 20px;
}

.padding_bottom_30{
	padding-bottom: 30px;
}

.padding_bottom_40{
	padding-bottom: 40px;
}

.padding_left_135{
	padding-left: 135px;
}
.padding_left_var{
	padding-left: 85px;
}

.application ul{
	width:354px;
	margin: 0 auto;
	height: auto;
}

.application ul li{
	float:left;
	height: auto;
}

.white_txt{
	color:#fff;
}

.blue_three_steps{
	width:809px !important;
}

.testimonials{
	background-image: url('../images/page_assets/mobile_sales/clients_say_bg.png');
	background-position: top center;
	background-repeat: no-repeat;
	display:block;
	height:440px;
}

#testimonials_scroller{
	margin-top: 75px;
}

.improve_sales h4{
	font-size: 22px;
	font-family: 'pathway-gothic-one';
	padding-bottom:0px;
	margin-bottom: 0px;
	text-align: center;
	color: #1d81bc;
}

.improve_sales ul{
	height:auto;
	margin-top: 20px;
}

.improve_sales ul li{
	float:left;
	height:auto;
	width:25%;
}

.improve_sales img{
	margin-left: 20%;
}

.blue{
	color:#1d59a4;
}

.improve_sales p{
    color: #666666;
    font-family: 'opensans-reg';
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
}

.improve_sales h5{
	color:#1d59a0;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'opensans-reg';
}

.full_blue_btn {
    background-color: #1d81bc;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'opensans-reg';
    font-size: 12px;
    height: 42px;
    width: 145px;
}

.full_blue_btn a{
    color: #FFFFFF;
    font-family: 'opensans-reg';
    font-size: 12px;
    text-transform: uppercase;
}

.full_blue_btn:hover {
    background-color: #1b78ae;
}

.center_full{
	margin-left: 42%;
}

.border_top{
	border-top:1px solid #d8d8d8;
}

#dark_grey_full {
    background-color: #414040;
    border-top: 1px inset #D8D8D8;
    float: left;
    height: 117px;
    width: 100%;
}

#dark_grey_full h2{
	font-size: 45px;
	float:left;
}

#dark_grey_full p{
	float:left;
	color:#fff;
	width:160px;
	font-size: 16px;
	padding-left: 20px;
}

.margin_right_110{
	margin-right: 110px;
}

.float_right{
	float:right;
}

.float_left{
	float:left;
}

.padding_top_40{
	padding-top: 40px;
}

.padding_top_20{
	padding-top: 20px;
}

.padding_left_40{
	padding-left:40px;
}

.padding_left_30{
	padding-left:30px;
}

.product_cats{
	background-image: url('../images/page_assets/mobile_sales/tablet.jpg');
	background-repeat: no-repeat;
	background-position: right center;
	padding-bottom: 10px;
}

.product_cats ul{
	width:65%;
	height:auto;
	padding-top: 20px;
}

.product_cats ul li{
	height:auto;
	float:left;
	width: 50%;
}

.product_cats ul li img{
	float:left;
	padding-right:5px;
	padding-top: 5px;
}

.product_cats h2{
	padding-top: 10px;
	padding-bottom: 10px;
}

.product_cats h4{
	color:#1d81bc;
	font-size: 16px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.product_cats h5{
	color:#1d81bc;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-align: left;
	margin-top: 5px;

}

.product_cats p{
	color:#666666;
	font-size: 14px;
}

.get_onsight_app{
	background-image: url('../images/page_assets/mobile_sales/get_onsight_bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	padding-bottom: 10px;
	float: left;
	background-size: 100% 70%;
}

.get_onsight_app ul{
	height:auto;
	width:100%;
}

.get_onsight_app ul li{
	height:auto;
	float:left;
	width:31.0%;
}

.get_onsight_app h5{
    color: #1D81BC;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

.get_onsight_app p{
	margin: 0 auto;
	width:75%;
	text-align: center;
}

.border_bottom{
	border-bottom: 1px solid #d8d8d8;
}

.need_more_info{

}

.need_more_info h2{
	padding-top: 40px;
}

.need_more_info form{
	
}

.need_more_info form input{
	margin-bottom: 5px;
	margin-right: 5px;
	float:left;
}

.need_more_info form input[type="text"]{
	width: 40.85%;
	padding:5px;
	border:none;
	border:1px solid #969696;
	border-radius: 5px;
}

.need_more_info textarea{
	width: 82.5%;
	height:100px;
	padding:5px;
	border:none;
	border:1px solid #969696;
	border-radius: 5px;
}


.left_40{
	width:40%;
	float:left;
}

.right_60{
	width:60%;
	float:right;
}

.txt_right_40{
	margin-right: 97px;
}

.txt_right_106{
	margin-right: 96px;
}

.right_auto_width{
	float: right;
    width: auto;
}

.margin_up{
	float: left;
    margin-top: -10px !important;
}

.show_price{
	background-image: url('../images/page_assets/mobile_sales/show_price.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	height:222px;
}

.show_price form{
    float: left;
    margin-left: 240px;
    margin-top: 135px;
    width: 250px;
}

.show_price select{
	width:150px;
	padding:5px;
}

table.table1{
    font-family: 'opensans-reg';
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
    color:#384146;
	max-width: 100%;
}

.table1 thead th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#1e6486;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border: 2px solid #f1f1f1;
    text-align: center;
}

.table1 thead th:empty{
    background:transparent;
    border:none;
}

.table1 tbody th{
    border-bottom:1px solid #c1c1c1;
    vertical-align:middle;
    width:193px;
}

.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}

.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#FFFFFF;
    border: 2px solid #f1f1f1;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    width: 233px;
}

.table1 tbody span.check::before{
    content : url(../images/ux/check0.png)
}

.th_blue{
	 background-color:#1e6486 !important;
}

.th_green{
	 background-color:#81b414 !important;
}

.th_orange{
	 background-color:#ff5e03 !important;
}

.improve_sales_features ul li {
    float: left;
    height: auto;
    width: 16.66%;
}

.improve_sales_features img{
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 60%;
}

.improve_sales_features h4{
	font-size: 22px;
	font-family: 'pathway-gothic-one';
	padding-bottom:0px;
	margin-bottom: 0px;
	text-align: center;
	color: #1d81bc;
	padding:5px;
}

.improve_sales_features ul{
	height:auto;
	float: left;
	margin-top: 10px;
}

.improve_sales_features p{
	text-align: center;
	font-family: 'opensans-reg';
	font-size: 14px;
	color: #666666;
	padding:5px;
}

.improve_sales_features h5{
    color: #1D59A0;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    font-weight: bold;
    font-family: 'opensans-reg';
}

.blue_ticks{
	padding-left: 23px;
}

.blue_ticks li{
    color: #424D55;
    font-family: 'opensans-reg';
    font-size: 13px;
    line-height: 25px;
    list-style-image: url("../images/ux/blue_tick.png");
}

.margin_top_20{
	margin-top: 20px;
}

.margin_top_10{
	margin-top: 10px;
}

.dashboard_ul{
	width: 50%;
	margin-left: 25%;
}

.dashboard_ul li{
	float: left;
    height: auto;
    width: 50% !important;
}


.get_onsight_app_downloads{
	background-image: url('../images/page_assets/mobile_sales/get_onsight_bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	float: left;
	background-size: 100% 45%;
	padding-top: 15px;
}

.get_onsight_app_downloads ul{
	height:auto;
	width:100%;
}

.get_onsight_app_downloads ul li{
	height:auto;
	float:left;
	width:31.0%;
}

.get_onsight_app_downloads h5{
    color: #1D81BC;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

.get_onsight_app_downloads p{
	margin: 0 auto;
	width:75%;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.get_onsight_app_downloads p a{
	width:100%;
	color: #1D81BC;
	font-size: 12px;
	display: block;
}

.grey_dot{
	margin-left: 15px;
}

.grey_dot li{
	color: #424D55;
    font-family: 'opensans-reg';
    font-size: 13px;
    line-height: 25px;
    list-style-type: disc;
}

.width_58{
	width:58%;
}

.width_75{
	width:75%;
}

.font_14{
	font-size: 14px;
}

.slider-wrapper-app{
	width:453px;
	height:172px;
	overflow: hidden;
}

#slider{
	height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.ben_width li{
	width: 25% !important;
}

.merch_map img{
	width: 100%
}

.text-left{
	text-align: left !important;
}

.merch_width{
	 margin-left: 16%;
}

.merch_width li{
	  width: 20% !important;
}

.mobile_com_ul{
	display: block;
    width: 100%;
    margin-left: 20px;
}

.mobile_com_ul li{
    float: left;
    height: 211px;
    padding: 10px;
    width: 244px;
    text-align: center;
    margin-right: 50px;
}

.mobile_thumbs{
	background-image: url('../images/page_assets/mobile_com/thumbs_up.png');
	background-repeat: no-repeat;
}

.mobile_star{
	background-image: url('../images/page_assets/mobile_com/star.png');
	background-repeat: no-repeat;
}

.mobile_calc{
	background-image: url('../images/page_assets/mobile_com/calc.png');
	background-repeat: no-repeat;
}

.mobile_com_ul h5{
    color: #262626;
    font-family: 'opensans-reg';
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 60px;
    padding-bottom: 0;
    text-align: center;
}

.mobile_com_ul p{
    color: #262626;
    font-family: 'opensans-reg';
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #8e8e8e;
    height:70px;
}

.mobile_com_ul a{
    color: #0d527c;
    font-family: 'opensans-reg';
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.blue_bullet li{
	color: #424D55;
    font-family: 'opensans-reg';
    font-size: 13px;
    line-height: 25px;
    list-style-image: url("../images/ux/blue_dot.png");
}

.blue_bullet{
	padding-left:20px;
}

.width_90 {
    width: 90%;
}

.no_top_border{
	border-top: none !important;
}

.www{
	background-image: url('../images/page_assets/about/where_we_work.jpg');
	background-repeat: no-repeat;
	background-position: right 20px;
	height:580px;
}

.width_22{
	width:22%;
}

.navbar-brand{
	background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-size: 80% auto;
    display: block;
    height: 61px;
    margin-left: 10px;
    margin-top: 3px;
    overflow: hidden;
    text-indent: 9999px;
    width: 192px;
}



.navbar-default {
	background-color: #fff !important;
	border: none !important;
	
}

.navbar {
    border-radius: none !important;
    margin-bottom: 0px !important;
    display: none;
}

.dropdown-menu {
	height:auto;
}

.sidetag.signup_1 {
 	background-color: #ff5c00;
    color: #FFFFFF;
    top: 550px;
    z-index: 1000;
}

.sidetag.quote_1 {
    background-color: #1c6386;
    color: #FFFFFF;
    top: 400px;
    z-index: 1000;
}

.sidetag {
    border-radius: 6px;
    display: block;
    font-family: 'opensans-reg';
    font-size: 13px;
    font-weight: bold;
    line-height: 11px;
    padding: 12px 0;
    position: fixed;
    right: -120px;
    text-align: center;
    text-decoration: none;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg) translate(0, 100%);
   	-moz-transform-origin: 0% 100%;
   	-o-transform: rotate(-90deg) translate(0, 100%);
   	-o-transform-origin: 0% 100%;
   	-webkit-transform: rotate(-90deg) translate(0, 100%);
   	-webkit-transform-origin: 0% 100%;
   	transform: rotate(-90deg) translate(0, 100%);
   	transform-origin: 0% 100%;
    width: 148px;
}

.right_46 {
    float: right;
    width: 46%;
}
/*added*/
.merch_audit {
    background-image: url("../images/page_assets/mobile_merch/tablet_lady.jpg");
    background-position: right 20px;
    background-repeat: no-repeat;
	background-size: 100% 100%;
    height: 479px;
}
.article p{
	width:100%;
	padding-left: 172px;
}
.owl-carousel {
    width: 50% !important;
}
#ytvideo1{
	position:relative;
	padding-bottom: 55%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
	width:100%;
	height:100%;
	margin-left: 10%;
}
#ytvideo1 iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Signup page */

#sign_up_box{
	width:100%;
	height: 508px;
	overflow:hidden;
	background-image: url('../images/page_assets/sign_up/register_box.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	font-family: 'opensans-reg' !important;
    font-size: 15px;
    font-weight: normal;
}

#sign_up_inner{
	padding:30px;
	margin-top: 80px;
}

#sign_up_inner form{
	width:100%;
	padding:10px;
}

#sign_up_inner input[type="text"]{
    border: 1px solid #969696;
    border-radius: 5px;
    padding: 5px;
    width: 60%;
    -moz-box-shadow:    inset 0 0 6px #e0e0e0;
   	-webkit-box-shadow: inset 0 0 6px #e0e0e0;
   	box-shadow:         inset 0 0 6px #e0e0e0;
}

#sign_up_inner span{
	width:100%;
	float: left;
	display: block;
	padding-bottom: 10px;
}

#sign_up_inner span label{
	width:40%;
	float: left;
	text-align: right;
	padding-right: 10px;
	color: #878787;
	line-height: 30px;
}

#testimonials_box{
	width:100%;
	height: 447px;
	overflow:hidden;
	background-image: url('../images/page_assets/sign_up/testimonials.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.orange{
	color: #ff5c00;
	text-align: center;
}

.grey{
	color: #bababa;
	text-align: center;
}

.green_3d_btn{
	border: none;
	background-image: url('../images/ux/gs_btn.png');
	background-repeat: no-repeat;
	background-position: center;
	width:166px;
	height:46px;
	overflow: hidden;
	text-indent: -99999px;
}
.middle{
	width:100%;
	text-align: center;
}
.test_ipad{
	width:95% !important;
}
.marg_top{
	margin-top:10px;
}
.fit{
	width:100%;
}
.padding_bottom{
	margin-bottom:5px;
}
.cblabel{
	float:left;
	padding-right:7.8%;
}
.commerce_img_padding{
	padding-top:37px;
	padding-bottom:20px;
}
.theme-default .nivoSlider {
    margin-bottom: -2px !important;
}
.content_margin {
    margin-left: -27px !important;
}
.slick-prev:before, .slick-next:before {
    color: #808080;
    margin-left: 47px;
}
.slick-next:before {
	margin-left: 0px;
}
.slick-dots li button:before {
    margin-top: 100px;
}
.slick-prev {
    left: 0;
}
.quotes {
    background-image: url("../images/quotes.jpg");
    background-position: 0px 40px;
    background-repeat: no-repeat;
    display: block;
    height: 440px;
}
.quote-button-width{
	width:auto !important;
	margin: 0 auto !important;
}
.p_height{
	height:120px;
}
.pad-align{
	padding-top:14%;
}
.width100{
	width:100%;
}
.slick-slider {
	width: 50% !important;
    margin-bottom: 30px;
	margin-left:-87px;
}

#block a:hover{
	text-decoration: none;
}

.slides{
    position: relative;
    top: 0;
    width: 100%;
    z-index: 800;
}

.slides_img{
    position: absolute;
    z-index: 900;
    width: 100%;
}

.slides_img img{
    width:100%;
}

.slides_content{
    display: block;
    margin-left: 13%;
    margin-top: 6%;
    position: absolute;
    width: 30%;
    z-index: 950;
}

.slides_content h2{
    color: #424d55;
    text-transform: uppercase;
    font-size: 34px;
}

.slides_content p{
     color: #000;
     font-size: 17px;
}

.slides_link{
	width:150px;
	color: #fff;
	background-color: #ff5c00;
	border-radius: 3px;
	display: block;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
}

.slides_link:hover{
	color: #fff !important;
	text-decoration: underline;
}
.blue_btn_index {
    margin: 0 auto !important;
    width: 194px !important;
	margin-top: 5px !important;
}
.orange_btn_index {
    margin: 0 auto !important;
    width: 194px !important;
}
.fitfeat {
    padding-left: 37%;
}
.table2width{
	width:92%;
}
.pad_top{
	padding-top:100px;
}
#mainHeader{
	font-size:30px;
}
.logo_dash{
	width:80% !important;
}
table.table2{
    font-family: 'opensans-reg';
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
    color:#384146;
	max-width: 100%;
}

.table2 thead th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#1e6486;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border: 2px solid #f1f1f1;
    text-align: center;
}

.table2 thead th:empty{
    background:transparent;
    border:none;
}

.table2 tbody th{
    border-bottom:1px solid #c1c1c1;
    vertical-align:middle;
    width:193px;
}

.table2 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table2 tfoot th{
    color:#666;
}

.table2 tbody td{
    padding:10px;
    text-align:center;
    background-color:#FFFFFF;
    border: 2px solid #f1f1f1;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    width: 233px;
}

.table2 tbody span.check::before{
    content : url(../images/ux/check0.png)
}
.left_auto_width{
	float: left;
    width: auto;
}

.pastle_blue_btn{
	min-width:145px;
	height:42px;
	background-color: #1c6386;
	border:none;
	border-radius: 5px;
	color:#fff;
	font-size: 12px;
	font-family: 'opensans-reg';
	cursor:pointer;
}

.pastle_blue_btn:hover{
	background-color: #1e6b90;
}
#case_scroller {
    margin-top: 75px;
    width: 100%;
}
.pad-bottom{
	padding-bottom:50px;
}